@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.container-fluid {
  background-color: #fff;
}

.container-fluid h3 {
  color: #ffadc6;
}

#services {
  height: 100vh;
}

#services > .row {
  height: 80px;
  margin: 10px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 15px;
  margin: 10px;
  border: 1px dashed black;
}

#location {
  height: 100vh;
  display: flex;
  align-items: center;
}

#aboutthisapp {
  height: 100vh;
  display: flex;
  align-items: center;
}

#contact {
  height: 100vh;
  display: flex;
  align-items: center;
}
